node_modules
android/app/build**
android/.gradle**
ios

android/.gradle/7.5.1/checksums/checksums.lock
android/.gradle/7.5.1/executionHistory/executionHistory.bin
android/.gradle/7.5.1/executionHistory/executionHistory.lock
android/.gradle/7.5.1/fileHashes/fileHashes.bin
android/.gradle/7.5.1/fileHashes/fileHashes.lock
android/.gradle/buildOutputCleanup/buildOutputCleanup.lock
